<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender
		name="info"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%-5level %logger - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%-5level %logger - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="sqlonly"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="resultsettable"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
		<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
<!-- 	<logger
		name="org.springframework"
		level="info"
		additivity="true">
		<appender-ref ref="STDOUT" />
	</logger> -->
	<logger
		name="com.mkyong.helloworld"
		level="info"
		additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="common"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="syaku"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="sample"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="defult"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="board2"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="board"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="scott"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="first"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="com"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="jdbc.sqlonly"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="sqlonly" />
	</logger>
	<logger
		name="jdbc.resultsettable"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="resultsettable" />
	</logger>

	<root level="off">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>