<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender
		name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%-5level %logger - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="sqlonly"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="resultsettable"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<appender
		name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<logger
		name="org.springframework"
		level="info"
		additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="com.mkyong.helloworld"
		level="info"
		additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="common"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="sample"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="defult"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="board2"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="board"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="scott"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="first"
		additivity="true">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	<logger
		name="jdbc.sqlonly"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="sqlonly" />
	</logger>
	<logger
		name="jdbc.resultsettable"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="resultsettable" />
	</logger>

	<root level="off">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>