<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.mkyong.helloworld.service" />
	<context:component-scan base-package="com.mkyong.helloworld.aspect" />

	<aop:config>
		<aop:aspect ref="nonInitializer">
			<aop:pointcut id="afterPropertiesSet"
						  expression="execution(* com.mkyong.helloworld.service.*.getTitle(..))"/>

			<aop:around pointcut-ref="afterPropertiesSet" method="doNothing" arg-names="pjp"/>
		</aop:aspect>
	</aop:config>
</beans>